In [13]:
import pandas

In [14]:
df = pandas.read_csv("2024c\data\Wimbledon_featured_matches.csv")

In [15]:
matchid:list = list(set(df['match_id'].tolist()))
matchid.sort()

In [16]:
splits = []
# cur_df = df
pre = 0
for id in matchid:
    # try:
        result = df.loc[df['match_id'] == id].index[-1]
        # print(result)
        df1 = df.iloc[pre:result+1]
        # df2 = df.iloc[result+1:]
        # print(df1['match_id'].tolist()[-1], df2['match_id'].tolist()[0])
        splits.append(df1)
        pre = result+1

        # cur_df = df2
    # except:
    #     splits.append(cur_df)
    #     break

In [17]:
splits[-1].head()

,match_id,p1_sets,p2_sets,p1_games,p2_games,p1_score,p2_score,server,serve_no,point_victor,...,p1_ad,p2_ad,p1_comble,p2_comble,p1_break_points,p2_break_points,p1_break_points_won,p2_break_points_won,p1_win_possiblity,p2_win_possiblity
6950,2023-wimbledon-1701,0,0,0,0,0,0,2,1,2,...,0,0,-0.416655,-0.406081,0,0,0,0,3,2
6951,2023-wimbledon-1701,0,0,0,0,0,1,2,1,1,...,0,0,-0.416655,-0.406081,0,0,0,0,3,2
6952,2023-wimbledon-1701,0,0,0,0,1,1,2,2,1,...,0,0,-0.416655,-0.406081,0,0,0,0,2,3
6953,2023-wimbledon-1701,0,0,0,0,2,1,2,2,2,...,0,0,1.440699,-0.406081,0,0,0,0,2,3
6954,2023-wimbledon-1701,0,0,0,0,2,2,2,1,1,...,0,0,-0.416655,-0.406081,0,0,0,0,2,3

In [18]:
output_dir = "./2024c/processed_data/"
for i in splits:
    fn = i['match_id'].tolist()[0]
    i.to_csv(output_dir+fn)