In [19]:
import pandas

In [20]:
df = pandas.read_csv("2024c\data\Wimbledon_featured_matches.csv")

In [21]:
matchid:list = list(set(df['match_id'].tolist()))
matchid.sort()

In [22]:
splits = []
# cur_df = df
pre = 0
for id in matchid:
    # try:
        result = df.loc[df['match_id'] == id].index[-1]
        # print(result)
        df1 = df.iloc[pre:result+1]
        # df2 = df.iloc[result+1:]
        # print(df1['match_id'].tolist()[-1], df2['match_id'].tolist()[0])
        splits.append(df1)
        pre = result+1

        # cur_df = df2
    # except:
    #     splits.append(cur_df)
    #     break

In [23]:
splits[-1].head()

,match_id,player1,player2,elapsed_time,set_no,game_no,point_no,p1_sets,p2_sets,p1_games,...,p2_break_pt_won,p1_break_pt_missed,p2_break_pt_missed,p1_distance_run,p2_distance_run,rally_count,speed_mph,serve_width,serve_depth,return_depth
6950,2023-wimbledon-1701,Carlos Alcaraz,Novak Djokovic,00:00:00,1,1,1,0,0,0,...,0,0,0,5.661,4.341,1,111.0,W,CTL,D
6951,2023-wimbledon-1701,Carlos Alcaraz,Novak Djokovic,00:00:25,1,1,2,0,0,0,...,0,0,0,18.502,22.307,4,126.0,BW,NCTL,ND
6952,2023-wimbledon-1701,Carlos Alcaraz,Novak Djokovic,00:01:19,1,1,3,0,0,0,...,0,0,0,4.786,2.926,2,102.0,BW,NCTL,ND
6953,2023-wimbledon-1701,Carlos Alcaraz,Novak Djokovic,00:02:17,1,1,4,0,0,0,...,0,0,0,4.907,4.209,1,120.0,BC,CTL,ND
6954,2023-wimbledon-1701,Carlos Alcaraz,Novak Djokovic,00:03:02,1,1,5,0,0,0,...,0,0,0,12.881,8.676,2,108.0,W,CTL,ND

In [24]:
output_dir = "./2024c/processed_data/origin/"
for i in splits:
    fn = i['match_id'].tolist()[0]
    i.to_csv(output_dir+fn)